<h2>Články</h2>
<div class="row">
	<div class="col s12">
		<a class="cpteam_bm_btn" href="{plink $control->getConfig()->get('back:links:article:add')}">Přidat</a>
		{if count($articles)}
			{snippet articleListSnippet}
				<table class="cpteam_bm_table">
					<thead>
					<tr>
						<th>Nadpis</th>
						<th>Stav</th>
						<th>Autor</th>
						<th>Akce</th>
					</tr>
					</thead>

					<tbody>
					{foreach $articles as $article}
						<tr>
							<td>{$article->headline}</td>
							<td>{control stateSwitcher-$article->id}</td>
							<td>{$article->creator->email}</td>
							<td>
								<a class="cpteam_bm_btn" href="{plink $control->getConfig()->get('back:links:article:edit') $article->id}">Edit</a>
								<a class="cpteam_bm_btn" href="{plink $control->getConfig()->get('back:links:article:preview') $article->id, $article->slug}">Náhled</a>
								<a class="cpteam_bm_btn cpteam_bm_btn--danger ajax" n:href="delete! $article->id">Smazat</a>
							</td>
						</tr>
					{/foreach}
					</tbody>
				</table>
			{/snippet}
		{else}
			<div class="bm_info">Žádné články dosud nebyly vytvořeny</div>
		{/if}
	</div>
</div>
<h2>Tagy</h2>
<div class="row">
	<div class="col s12">
		{control tagControl}
	</div>
</div>

