.#{$prefix}_article_images_container {
  //@include clearfix();
}

.#{$prefix}_image_container {
  cursor: pointer;
  float: left;
  position: relative;

  .#{$prefix}_btn--delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background: rgba(255, 255 , 255, 0.8);
  }

}

.#{$prefix}_image {
  max-width: 200px;
  max-height: 100px;
  margin: 10px;
}