.#{$prefix}_btn, .#{$prefix}_control_container input[type=submit]{
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  color: #039be5;
  border: 1px solid #039be5;
  background: white;
  text-decoration: none;

  &:hover {
      background: #039be5;
      color: white;
  }

  &.#{$prefix}_btn--red, &.#{$prefix}_btn--danger, &.#{$prefix}_btn--delete {
    color: red;
    border: 1px solid red;

    &:hover {
      background: red;
      color: white;
    }
  }

  &.#{$prefix}_btn--orange {
    color: darkorange;
    border: 1px solid darkorange;

    &:hover {
      background: darkorange;
      color: white;
    }
  }
}
