@import "variables";
@import "globals";
@import "mixins/mixins";

@import "modules/buttons";
@import "modules/table";

@import "modules/articleImage";

.#{$prefix}_popup_container {
  position: relative;
  display: inline-block;
}

.bm_popup_target {
  position: absolute;
  margin: auto;
  min-width: 300px;
  bottom: 0;
  right: 0;

  border: 1px solid #d0d0d0;
  padding: 20px;
  background: white;
  z-index: 2;
}
.bm_popup_container {
  position: relative;
  display: inline-block;
}
.bm_popup_close {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid blue;
  cursor: pointer;
}


.bm_display--none {
  display: none;
}

#blog-markdown-article-perex ~ .CodeMirror {
  min-height: 100px;
}
#blog-markdown-article-perex ~ .CodeMirror .CodeMirror-scroll {
  min-height: 100px;
}

/* container */


/* article */
.bmArticle__tags__tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  background: grey;
  color: white
}
.bmArticle__tags__tag:first-child {
  margin-left: 0;
}

/* form */
.bmFormInputError {
  color: red;
}

.bmFormGroup {
  margin: 10px 0;
}

.bmFormInput--submit {

}


.bmFormGroup--labelContainer {
  margin: 10px 0;
}
.bmFormGroup--labelContainer label{
  font-size: 20px;
}

.bm_popup_content__header {
  text-align: right;
}
