<div class="row">
	<div class="col s12">
		<div class="row">
			<div>Dříve nahrané obrázky</div>
			{if count($uploadedImages)}
				<div class="hint">
					Po kliknutí na obrázek se vám do schránky vloží kód pro vykreslení obrázku. Potom stačí použít Crtl + V na vložení obrázku do článku.
				</div>
				<div class="col s12">

					<div id="mrceperka_gallery"></div>
					<script>
						window.mrceperka_gallery_config = {
							instances: [
								{
									id: 'mrceperka_gallery',
									lang: 'cs_CZ',
									filterEnabled: false,
									image: {
										data: [
											{
												name: 'data-clipboard-text',
												prefix: '![alt text](',
												key: 'src',
												suffix: ')'
											}
										]
									},
									fetch: {
										url: {$fetchUrl},
										atStart: true,
										options: {'credentials': 'same-origin'}
									}
								}
							],
							translations: {
								cs_CZ: {
									button: {
										next: 'Další',
										prev: 'Předchozí',
										fetch: 'Načíst'
									},
									messages : {
										fetch: {
											success: 'Načteno, načíst znovu',
											failed: 'Chyba, zkusit znovu',
											fetching: 'Načítám'
										}
									},
									images: {
										def: "Obrázky",
										filtered: "Výsledky vyhledávání"
									}
								}
							}
						};
					</script>
					<script src="{$control->getConfig()->get('gallery:bundle')}"></script>
				</div>
			{else}
				<div>
					Žádné obrázky nebyly dosud nahrány
				</div>
			{/if}

			<div class="cpteam_bm_row cpteam_bm_article_images_container">
				{snippet articleImages}
					{foreach $images as $hash => $image}
						<div class="cpteam_bm_image_container" data-clipboard-text="![alt text](//{$domain}{$image})">
							<a class='cpteam_bm_btn cpteam_bm_btn--delete ajax' n:href="delete! $hash">Smazat</a>
							<img class="cpteam_bm_image" src="//{$domain}{$image}" />
						</div>
					{/foreach}
				{/snippet}
			</div>

			<div class="col s12">
				{control addImage}
			</div>
		</div>
	</div>
</div>