<div class="row">
	<article class="bmArticle col s12">
		<h2>
			{if $control->isInRoster()}
				<a href="{plink $control->getConfig()->get('front:links:article:detail') $data['article']->id, $data['article']->slug}">
					{$data['article']->headline}
				</a>
			{else}
				{$data['article']->headline}
			{/if}
		</h2>
		<div class="bmArticle__tags">
			{foreach $data['tags'] as $tag}
				<span class="bmArticle__tags__tag">{$tag->name}</span>
			{/foreach}
		</div>
		{if $control->isInRoster()}
			<div class="bmArticle__perex">
				{md $data['article']->perex}
			</div>
		{else}
			<div class="bmArticle__text">
				{md $data['article']->text}
			</div>
		{/if}
		<div class="bmArticle__authors">
			<div class="bmArticle__authors__title">
				{if $data['authorsCount'] > 0}
					Autoři
				{else}
					Autor
				{/if}
			</div>
			<a href="{plink $control->getConfig()->get('front:links:user:detail') $data['creator']->id}"
			   class="bmArticle__authors__author bmArticle__authors__author--creator"
			>
				{$data['creator']->email}
			</a>

			{foreach $data['authors'] as $author}
				<a href="{plink $control->getConfig()->get('front:links:user:detail') $author->id}">{$author->email}</a>
			{/foreach}
		</div>
	</article>
</div>