.cpteam_bm_btn, .cpteam_bm_control_container input[type=submit] {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  color: #039be5;
  border: 1px solid #039be5;
  background: white;
  text-decoration: none; }
  .cpteam_bm_btn:hover, .cpteam_bm_control_container input[type=submit]:hover {
    background: #039be5;
    color: white; }
  .cpteam_bm_btn.cpteam_bm_btn--red, .cpteam_bm_btn.cpteam_bm_btn--danger, .cpteam_bm_btn.cpteam_bm_btn--delete, .cpteam_bm_control_container input[type=submit].cpteam_bm_btn--red, .cpteam_bm_control_container input[type=submit].cpteam_bm_btn--danger, .cpteam_bm_control_container input[type=submit].cpteam_bm_btn--delete {
    color: red;
    border: 1px solid red; }
    .cpteam_bm_btn.cpteam_bm_btn--red:hover, .cpteam_bm_btn.cpteam_bm_btn--danger:hover, .cpteam_bm_btn.cpteam_bm_btn--delete:hover, .cpteam_bm_control_container input[type=submit].cpteam_bm_btn--red:hover, .cpteam_bm_control_container input[type=submit].cpteam_bm_btn--danger:hover, .cpteam_bm_control_container input[type=submit].cpteam_bm_btn--delete:hover {
      background: red;
      color: white; }
  .cpteam_bm_btn.cpteam_bm_btn--orange, .cpteam_bm_control_container input[type=submit].cpteam_bm_btn--orange {
    color: darkorange;
    border: 1px solid darkorange; }
    .cpteam_bm_btn.cpteam_bm_btn--orange:hover, .cpteam_bm_control_container input[type=submit].cpteam_bm_btn--orange:hover {
      background: darkorange;
      color: white; }

.cpteam_bm_table {
  margin: 2em 0; }

.cpteam_bm_image_container {
  cursor: pointer;
  float: left;
  position: relative; }
  .cpteam_bm_image_container .cpteam_bm_btn--delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background: rgba(255, 255, 255, 0.8); }

.cpteam_bm_image {
  max-width: 200px;
  max-height: 100px;
  margin: 10px; }

.cpteam_bm_popup_container {
  position: relative;
  display: inline-block; }

.bm_popup_target {
  position: absolute;
  margin: auto;
  min-width: 300px;
  bottom: 0;
  right: 0;
  border: 1px solid #d0d0d0;
  padding: 20px;
  background: white;
  z-index: 2; }

.bm_popup_container {
  position: relative;
  display: inline-block; }

.bm_popup_close {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid blue;
  cursor: pointer; }

.bm_display--none {
  display: none; }

#blog-markdown-article-perex ~ .CodeMirror {
  min-height: 100px; }

#blog-markdown-article-perex ~ .CodeMirror .CodeMirror-scroll {
  min-height: 100px; }

/* container */
/* article */
.bmArticle__tags__tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  background: grey;
  color: white; }

.bmArticle__tags__tag:first-child {
  margin-left: 0; }

/* form */
.bmFormInputError {
  color: red; }

.bmFormGroup {
  margin: 10px 0; }

.bmFormGroup--labelContainer {
  margin: 10px 0; }

.bmFormGroup--labelContainer label {
  font-size: 20px; }

.bm_popup_content__header {
  text-align: right; }
