{if count($articleData)}
	<div class="bb_articles">
		{foreach $articleData as $data}
			{var $articleId = $data['article']->id}
			{control articleDetail-$articleId}
		{/foreach}
	</div>
{else}
	<div class="row">
		<div class="col s12 article--info_card">Žádné články dosud nebyly vytvořeny</div>
	</div>
{/if}


