{block content}
	<div class="cpteam_bm_container">
		<div class="row">
			<div class="col s12">
				<h1>Blog module dashboard</h1>
			</div>
		</div>
		<div class="row">
			{control dashboard}
		</div>
	</div>
{/block}