{control addTag}
{if count($tags)}
	{snippet tagListSnippet}
		<table class="bm_tl_table">
			<thead class="bm_tl_table--head">
			<tr>
				<th>Nadpis</th>
				<th>Priorita</th>
				<th>Akce</th>
			</tr>
			</thead>

			<tbody class="bm_tl_table--body">
			{foreach $tags as $tag}
				<tr>
					<td>{$tag->name}</td>
					<td>{$tag->priority}</td>
					<td>
						<div class="bm_popup_container">
							<div class="bm_btn bm_popup_open" data-target="#bm_tag_popup_{$tag->id}">Edit</div>
							<div class="bm_popup_target bm_display--none" id="bm_tag_popup_{$tag->id}">
								<div class="bm_popup_content">
									<div class="bm_popup_content__header">
										<span class=" bm_btn bm_btn--warn bm_popup_close">x</span>
									</div>
									{control editTag-$tag->id}
								</div>
							</div>
						</div>

						<a class="bm_btn bm_btn--danger ajax" n:href="delete! $tag->id">Smazat</a>
					</td>

				</tr>
			{/foreach}
			{foreach $flashes as $flash}
				<tr>
					<td>
						<div class="flash {$flash->type}">{$flash->message}</div>
					</td>
				</tr>
			{/foreach}
			</tbody>
		</table>
	{/snippet}
{/if}
